<!-- Page Content -->
<div class="container">

  <h1 class="text-center mt-3 hr-sect">About</h1>

  <h2 class="mt-0 mb-3">Our Philosophy
    <!-- <small>Subheading</small> -->
  </h2>

  <!-- Intro Content -->
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4" src="img/g4.jpg" alt="">
    </div>
    <div class="col-lg-6">
      <p>“My grandma decided she wanted to open another restaurant and found this place,” says Chelsea-Ann Sperti, <b><b>SerendipiTea</b>’s</b> resident tea expert. “She invited the family to come and check it out and I fell in love with the place as soon as I walked in the doors. I started immersing myself in the world of tea almost right away.”</p>

      <p>Chelsea-Ann says she was not much of a tea drinker before her grandma brought her to the tea house that day, but now she’s the resident expert and loves to experiment. On top of the hundreds of teas imported from around the world, Chelsea-Ann has also been making her own blends exclusive to <b>SerendipiTea</b>. We also bring in flavours our customers will like, and we love introducing teas that no other tea house is carrying.”</p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-6">
      <h2 class="mb-3">Quality Tea and Light Meals</h2>
      <p><b>SerendipiTea</b> carries much more than tea, serving up fresh sandwiches, soups, salads and little treats for its customers every day. “We have a lot of good, healthy food,” Chelsea-Ann says. “Mostly light lunch fare and desserts. Healthy comfort food is what we’re aiming for.” Highlights include low-fat carrot cakes and freshly made soups of the day.</p>
      <p>Chelsea-Ann and her co-workers are also available for catering events. “We do sandwich platters, dessert platters and special blends of tea for all the attendees,” she explains. “We offer all of our services that we can provide in-house, and we offer free local delivery.”</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid" src="img/g3.jpg"/>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4" src="img/g13.jpg" alt="">
    </div>
    <div class="col-lg-6">
      <h2 class="mb-4">A Return to Tea Parties</h2>
      <p><b>SerendipiTea</b> is not only bringing unique teas back into the spotlight, Chelsea-Ann also hopes to reinvigorate the forgotten art of the tea party. “We section off a part of the restaurant for the kids and set them up with fancy teacups and teapots,” she says. “It’s such a fun thing we used to do as kids, and we love seeing these kids come in all dressed up and enjoying a fancy party. We make sure that they can have some special kid-friendly tea and a selection of treats.” And while the tea parties are becoming a popular activity for the kids, Chelsea-Ann says it shouldn’t just be limited to children.</p>
    </div>
  </div>

  <%# <!-- Team Members -->
  <h2>Our Team</h2>

  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="http://placehold.it/750x450" alt="">
        <div class="card-body">
          <h4 class="card-title">Team Member</h4>
          <h6 class="card-subtitle mb-2 text-muted">Position</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
        </div>
        <div class="card-footer">
          <a href="#">name@example.com</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="http://placehold.it/750x450" alt="">
        <div class="card-body">
          <h4 class="card-title">Team Member</h4>
          <h6 class="card-subtitle mb-2 text-muted">Position</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
        </div>
        <div class="card-footer">
          <a href="#">name@example.com</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="http://placehold.it/750x450" alt="">
        <div class="card-body">
          <h4 class="card-title">Team Member</h4>
          <h6 class="card-subtitle mb-2 text-muted">Position</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
        </div>
        <div class="card-footer">
          <a href="#">name@example.com</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Our Customers -->
  <h2>Our Customers</h2>
  <div class="row">
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
  </div>
  <!-- /.row --> %>

</div>
<!-- /.container -->
