<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Serendipitea 2018</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://www.tripadvisor.ca/Restaurant_Review-g499253-d4815676-Reviews-Serendipi_Tea-Bowmanville_Ontario.html">
              <i class="fa fa-tripadvisor"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/serendipitea4me/">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.yelp.ca/biz/serendipitea-tea-house-bowmanville">
              <i class="fa fa-yelp"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
